@import "../base//variables";
@import "../base/mixins";

.sidebar {
  width: 45px;
  padding: 0 $spacing-md;
  transition: width 0.3s;

  min-height: 100%;
  background-color: $color-light-secondary;
  @include box-shadow($x: 2px, $blur: 4px, $color: rgba(51, 51, 51, 0.12));
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:hover {
    width: 120px;

    span {
      width: auto;
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }
}
